* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
}
body {
    background-color:#ddd;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding:60px 10px 10px;
}
.band-name {
    font-weight: bolder;
    font-size: 40px;
}
img {
    height: 300px;
}
.main-header {
    background-color: rgb(9, 73, 212);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding:10px;
    align-items: center;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:10;
    /*border-radius:0 0 15px 15px;*/
}
.link-nav a{
    color: white;
    margin-right:15px;
    text-decoration: none;
}
.link-nav {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.headlines a:active {
    color: red;
}
.headlines a:visited{
    color: green;
}
.headlines {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
hr {
    margin: 10px 0;
    height:4px;
    padding:0;
    background: #000;
}
.headlines a div img{
    margin: 10px;
    height: 500px;
}
.headlines a div p{
    margin-left: 10px;
    margin-top: 20px;
    width: 700px;
    flex-wrap: wrap;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    border-bottom: black solid 3px;
}
.headlines a div{
    width: 700px;  
}
.para {
    margin: 10px;
    text-align: justify;
    display: block;
} 
.para img{
    height: 300px;

}
.para p{
    margin-bottom: 20px;
}
.headlines a{
    width: 100px;
    white-space: nowrap;
}
.headlines .add {
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding: 10px;
    background-color:red;
    margin:10px 0;
    position: relative;
    animation-name: add;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
.add img{
    height: 300px;
}
.add:hover{
    animation-name: stop;
    animation-play-state: paused;
}
.h1 {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: black solid 4px;
    width: 230px;
}
.theft {
    height:300px;
    margin: 10px;
    margin-bottom: 0px;
    /*object-fit: cover;
    object-position: 0.5% 1%;*/
    
}
.cap {
    font-weight: bold;
    color: red;
    margin: 10px 10px;
}
.hed {
    font-weight: bolder;
    font-size: 60px;
    margin: 10px 10px ;
    width: 98%;
    /*position: absolute;*/
}
.author {
    font-weight: bold;
    width: fit-content;
    white-space: nowrap;
    border-bottom: black solid 2.5px;
    margin: 10px;
}
.place {
    margin: 10px;
    font-weight: bolder;
}
#win {
    width: 98%;
    margin: 20px;
    height: 200px;
    animation-name: win;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
li {
    list-style: none;
}
.main-footer{
    background-color: blue;
    margin-top:10px ;
    width: 100%;
    text-align: end;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: black solid 3px;
}
.code {
    color: green;
    font-size: 30px;
    width: 250px;
}
.navli{
    display: flex;
    align-items:center;

}
.navli {
    width: 200px;
}
.navli li{
    margin-right: 15px;
    height: 20px;
}
.navli li a {
    color: #fff;
}
.navli li:hover{
    transform: scale(1.2,1.2);
    background-color: aqua;
}
#slide {
    height: 400px;
    width: 0%;
    position: absolute;
    color: aliceblue;
    overflow-x: hidden;
    z-index: 100;
    opacity: 1;
    background-color: #fff;
    top: 0%;
    left: 0%;
    transition: 1s ease;
   display: none;
   box-shadow: 0 0 25px #000;
    
}
#slide a {
    display: block;
    padding:10px 0 0 10px;
    margin-bottom:10px;
    text-decoration: none;
    color: #000;
    width: fit-content;
}
.stroke {
    position: absolute;
    right: 10px;
    display: none;  
    transition: .15s;
    top: 50%;
    transform: translateY(-50%);
}
#bun {
    position: absolute;
    padding:5px;
    top: -5px;
    right: 1px;
    color: #000;
    font-size:30px;
    font-weight: 1000;
    z-index:1;
}#bun:active,#bun:focus{
   background-color:#bbb;
   width: 40px;
   border-radius:50%;
   text-align:center;
}

.beer {
    max-width: 400px;
    animation-name: beer;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin:10px 0;
    
}
@keyframes add {
   
    100%{transform: scale(1, 0);}
}
@keyframes stop {
   
    100%{transform: scale(1, 1);}
}
@keyframes win{
   
    100%{transform: scale(1, 0);}
}
@keyframes beer{
   
    100%{transform: rotateY(360deg);}
}
@media screen and (max-width: 850px) {
    body{
    padding: 60px 10px 0 10px;
    }
    .main-header{
        height:fit-content ;
    }
    .main-nav a{
        display: none;

    }
   .stroke {
        display: block;
    }
    #slide {
       
        display: block;
    }
    .band-name {
        white-space: nowrap;
        font-size: 28px;
    }
    .title {
        display: block;
    }
    .add{
       flex-direction:column; 
    } 
    .add img{
        width: 100%;
        height:fit-content;
       
    } 
    .headlines .add {
        width: 100%;
    }
    img{
        width: 100%;
        height:fit-content;
        }
    
    .headlines a div{
        margin: 0%;
        width: 100%;  
    }
}
@media screen and (max-width: 700px) {
    .headlines a div p{
        width: fit-content;
        flex-wrap: wrap;
        margin-left: 1px;
        font-size: 15px;
        border-bottom: black solid 2px;
    }
    .headlines a div img,#win {
        width:100%;
       height:fit-content;
        margin:10px 0px;
    }
    .theft {
        width: 100%;
        margin:10px 0;
        
    }
    .main-footer{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
        
    }
    .main-footer h4{
        font-size: 10px;
        color:#000;
    }
    .main-footer brand-name{margin:0;padding:0;}
    .navli {
        padding: 0;
        width: 100%;
        margin:0;
        justify-content: space-around;
    }
    .navli li{
        margin:0;
    }
    
     .headlines .add {
     margin 10px 0;
    }
    
}
@media screen and (max-width: 500px) {
     .band-name {
        font-size: 18px;
    }
    .para img{
        width: 100%;
        height:fit-content;
        margin: 10px 0;
    }
    .headlines .add {
     margin 10px 0;
    }
    a{
      width: 100%
    }
    .headlines a div img{
        width: 300px;
        height:fit-content;
        margin:10px 0px;
    }
    .stroke {
        right: 10%;
         
    }
    .hed {
        font-size: 36px;
    }
    .headlines .add {
     margin 10px 0;
    }
    .code {
    font-size: 20px;
    width: 100%;
}
}

